@media screen and (max-width: 768px) {
  .attractions_card {
    margin-bottom: 73px;
  }
  .attractions_card-title {
    font-size: 42px;
  }

  .attractions_card-img {
    display: block;
    width: 340px;
  }

  .attractions_card-text {
    font-size: 16px;
  }

  .attractions_card-info {
    margin-top: 130px;
  }
}

@media screen and (max-width: 320px) {
  .logomax {
    display: none;
  }
  .logomini {
    display: block;
  }
  .adventure_title {
    font-size: 40px;
    margin: 48px 0px 16px 0px;
  }

  .adventure_desc {
    font-size: 16px;
  }

  .adventure_img {
    width: 100%;
  }
  .text_title {
    font-size: 32px;
  }

  .text {
    font-size: 16px;
  }
  .block_text_desc {
    font-size: 12px;
    margin-top: 34px;
  }
  .main_gallery {
    margin-top: 64px;
    gap: 12px;
  }

  .text_desc {
    margin-bottom: 0px;
  }

  .attractions_card {
    flex-wrap: wrap;
  }

  .attractions_card-title {
    font-size: 32px;
  }

  .attractions_card-url_link_desc {
    font-size: 12px;
  }

  .attractions_card-url_link {
    font-size: 18px;
  }

  .attractions_card-info {
    margin-top: 64px;
  }
}
