* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #ffff;
}

.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.container_content {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 30px;
  background-color: #2a2c2f;
}

.block_text {
  max-width: 690px;
}

.bold {
  font-weight: 700;
}

.bold_uppercase {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}
