* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.container_content {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
}

.wrapper {
  background-color: #2a2c2f;
}
