.main {
  padding-bottom: 64px;
}
.adventure {
  text-align: center;
}

.adventure_title {
  font-size: 98px;
  font-weight: 900;
}

.adventure_desc {
  font-size: 30px;
  margin-top: 32px;
}

.adventure_img {
  width: 100%;
  display: block;
}

.adventure_img_desc {
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.text_after_png {
  padding-top: 8px;
}

.text_title {
  font-size: 54px;
  font-weight: 900px;
  margin-top: 64px;
  margin-bottom: 40px;
}

.text {
  font-size: 16px;
  margin-bottom: 33px;
  line-height: 1.63;
}

.text_desc {
  margin-bottom: 92px;
}

.text_desc p {
  margin-bottom: 7px;
}

.text_desc p:last-child {
  margin-bottom: 0px;
}
